In [1]:
#WEEKEND fist
import pandas as pd

df_food= pd.read_csv('/Users/naroacorettisanchez/Documents/GitHub/DataSS/Deliveries/delivery_demand_ss_1week_scattered.csv')
df_user= pd.read_csv('/Users/naroacorettisanchez/Documents/GitHub/DataSS/Rides/ride_demand_ss_1week_scattered.csv')

In [2]:
df_food

,start_time,order_vertical,order_final_status,start_to_pickup_flight_distance_in_meters,pickup_to_delivery_flight_distance_in_meters,courier_delivery_time_in_minutes,customer_delivery_time_in_minutes,pickup_hexagon_id,delivery_hexagon_id,vehicle_type,start_latitude,start_longitude,end_latitude,end_longitude,day
0,2023-09-18 09:31:39,Food,DeliveredStatus,143.59972,171.05913,9.350000,12.650000,89184bb3497ffff,89184bb3497ffff,BICYCLE,43.324664,-1.975841,43.324337,-1.973775,1
1,2023-09-18 10:04:56,Food,DeliveredStatus,1199.57040,1096.33860,14.533333,29.083333,89184bb3413ffff,89184bb3463ffff,BICYCLE,43.319009,-1.983898,43.312050,-1.993499,1
2,2023-09-18 10:16:05,Food,DeliveredStatus,780.57480,1496.59310,25.116667,44.816667,89184bb348fffff,89184bb3463ffff,MOTORBIKE,43.320081,-1.981241,43.309518,-1.992705,1
3,2023-09-18 10:22:29,Food,DeliveredStatus,674.26150,479.59625,13.450000,16.400000,89184bb3413ffff,89184bb3407ffff,BICYCLE,43.319009,-1.983898,43.314906,-1.982061,1
4,2023-09-18 10:49:33,Food,DeliveredStatus,355.18320,1558.99020,31.700000,54.616667,89184bb35cfffff,89184bb3407ffff,MOTORBIKE,43.304142,-1.973532,43.315758,-1.984322,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6494,2023-09-24 23:11:29,Food,DeliveredStatus,473.67685,1487.44710,12.450000,23.683333,89184bb3417ffff,89184bb35cbffff,BICYCLE,43.318830,-1.980115,43.305908,-1.975353,7
6495,2023-09-24 23:11:33,Food,DeliveredStatus,2122.31500,3329.68000,21.616667,56.016667,89184bb26cfffff,89184bb3407ffff,MOTORBIKE,43.309279,-1.943679,43.314300,-1.984250,7
6496,2023-09-24 23:14:07,Food,DeliveredStatus,604.72296,2818.85720,18.350000,31.233333,89184bb3417ffff,89184bb3053ffff,MOTORBIKE,43.318830,-1.980115,43.300658,-2.004410,7
6497,2023-09-24 23:23:59,Food,DeliveredStatus,571.49700,2309.21480,22.783333,34.133333,89184bb3487ffff,89184bb36bbffff,BICYCLE,43.321552,-1.976763,43.316089,-2.004302,7
6498,2023-09-24 23:25:51,Food,DeliveredStatus,41.15646,1125.42430,19.966667,36.050000,89184bb26cfffff,89184949ba3ffff,MOTORBIKE,43.309446,-1.943768,43.319481,-1.945564,7

In [3]:

df = df_food

# Define a dictionary to map old days to new days
day_mapping = {
    1: 4,
    2: 5,
    3: 6,
    4: 7,
    5: 1,
    6: 2,
    7: 3
}


df['day'] = df['day'].map(day_mapping)

In [5]:
df.to_csv('/Users/naroacorettisanchez/Documents/GitHub/DataSS/Deliveries/delivery_demand_ss_flipped_scattered.csv')

In [4]:
df_user

,Unnamed: 0,Unnamed: 0.1,ID_viaje,Estado cerrado,Duracion,Id de estacion de inicio,Fecha de inicio,Nombre de estacion de inicio,Fecha de fin,Id de estacion de fin de viaje,...,Nombre de producto,start_lat,start_lon,target_lat,target_lon,starttime,withinC,withinCend,start_building,target_building
0,0,237518,1164530,NORMAL,489,31,2022-09-19 06:00:00,31 - BARCELONA,19/09/2022 6:08,19.0,...,Dbizi Ordinario,43.309668,-1.968903,43.316964,-1.965375,2022-09-19 06:00:00,True,True,454,2894
1,1,237517,1164531,NORMAL,480,21,2022-09-19 06:03:00,21 - KARMENGO ANDRE MARIA / VIRGEN DEL CARMEN,19/09/2022 6:11,9.0,...,Ordinario,43.316565,-1.968646,43.312481,-1.982686,2022-09-19 06:03:00,True,True,2933,3645
2,2,237516,1164532,NORMAL,274,16,2022-09-19 06:04:00,16 - ATARIZAR,19/09/2022 6:08,52.0,...,Ordinario,43.324382,-1.961079,43.318836,-1.954590,2022-09-19 06:04:00,True,True,4206,1222
3,3,237515,1164533,NORMAL,101,21,2022-09-19 06:05:00,21 - KARMENGO ANDRE MARIA / VIRGEN DEL CARMEN,19/09/2022 6:06,20.0,...,Dbizi Ocasional,43.320434,-1.971288,43.319021,-1.968803,2022-09-19 06:05:00,True,True,1901,1572
4,4,237514,1164534,NORMAL,306,21,2022-09-19 06:08:00,21 - KARMENGO ANDRE MARIA / VIRGEN DEL CARMEN,19/09/2022 6:13,32.0,...,Ordinario,43.318928,-1.970316,43.307302,-1.968788,2022-09-19 06:08:00,True,True,1602,4856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,19350,217450,1186178,NORMAL,230,2,2022-09-25 23:56:00,02 - BRETXA,25/09/2022 23:59,14.0,...,Ordinario,43.323222,-1.987862,43.326514,-1.967924,2022-09-25 23:56:00,True,True,93,963
19294,19351,217449,1186179,NORMAL,877,5,2022-09-25 23:57:00,05 - SAN MARTZIAL,26/09/2022 0:11,24.0,...,Ordinario,43.318085,-1.983017,43.309404,-1.986846,2022-09-25 23:57:00,True,True,2,5853
19295,19352,217448,1186180,NORMAL,216,11,2022-09-25 23:57:00,11 - SAN FRANTZISKO-IPARRAGIRRE,26/09/2022 0:01,21.0,...,Dbizi Ocasional,43.322148,-1.981923,43.317195,-1.967964,2022-09-25 23:57:00,True,True,528,885
19296,19353,217447,1186181,NORMAL,641,12,2022-09-25 23:58:00,12 - S.FRANTZISKO-GALTZADA NAGUSIA / GRAN VÍA,26/09/2022 0:09,22.0,...,Dbizi Ocasional,43.326328,-1.967995,43.314373,-1.986968,2022-09-25 23:58:00,True,True,953,3663
19297,19354,217446,1186182,NORMAL,229,6,2022-09-25 23:58:00,06 - ARRASATE,26/09/2022 0:02,10.0,...,Dbizi Ordinario,43.316367,-1.982035,43.324526,-1.973842,2022-09-25 23:58:00,True,True,434,576

In [7]:
df_user['starttime'] = pd.to_datetime(df_user['starttime'])
df_user['day'] = df_user['starttime'].dt.day

In [8]:
df = df_user

# Define a dictionary to map old days to new days
day_mapping = {
    1: 22,
    2: 23,
    3: 24,
    4: 25,
    5: 19,
    6: 20,
    7: 21
}


df['day'] = df['day'].map(day_mapping)

In [9]:
df.to_csv('/Users/naroacorettisanchez/Documents/GitHub/DataSS/Rides/ride_demand_ss_1week_scattered_fipped.csv')