In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
#Import data

path='../results/2022-12-06 01.00.00/'

#People
user_path=path+'user_concat.csv'

#Pakcages
package_path=path+'package_concat.csv'

#Bike
bike_path=path+'bike_concat.csv'

user_df=pd.read_csv(user_path)
package_df=pd.read_csv(package_path)
bike_df=pd.read_csv(bike_path)

In [22]:
user_df.head()

,Unnamed: 0,Cycle,Time,NumBikes,Battery,PickUpSpeed,PackageDelay,Agent,Trip Served,Wait Time (min),Departure Time,Arrival Time,Duration (min),Origin [lat],Origin [lon],Destination [lat],Destination [lon],Distance (m)
0,0,937,01:18:05,300,50000.0,8.0,2,people13,True,2.500000,01:09:35,01:18:05,8.500000,-71.086928,42.361673,-71.098512,42.362962,964.894087
1,1,949,01:19:05,300,50000.0,8.0,2,people11,True,1.583333,01:04:40,01:19:05,14.416667,-71.085859,42.362141,-71.105732,42.356217,1764.454824
2,2,971,01:20:55,300,50000.0,8.0,2,people12,True,2.500000,01:08:35,01:20:55,12.333333,-71.090104,42.365558,-71.102920,42.356945,1424.734546
3,3,971,01:20:55,300,50000.0,8.0,2,people14,True,3.083333,01:11:10,01:20:55,9.750000,-71.090739,42.364564,-71.101329,42.363345,882.836052
4,4,1020,01:25:00,300,50000.0,8.0,2,people17,True,2.000000,01:21:05,01:25:00,3.916667,-71.093945,42.361216,-71.092399,42.359008,276.361357

In [23]:
package_df.head()

,Unnamed: 0,Cycle,Time,NumBikes,Battery,PickUpSpeed,PackageDelay,Agent,Trip Served,Wait Time (min),Departure Time,Arrival Time,Duration (min),Origin [lat],Origin [lon],Destination [lat],Destination [lon],Distance (m)
0,0,623,00:51:55,300,50000.0,8.0,0,package0,True,0.916667,00:22:00,00:51:55,29.916667,-71.086885,42.372127,-71.123928,42.388293,3539.876140
1,1,751,01:02:35,300,50000.0,8.0,0,package1,True,1.166667,01:00:15,01:02:35,2.333333,-71.118519,42.370282,-71.119940,42.372069,230.431448
2,2,812,01:07:40,300,50000.0,8.0,0,package2,True,1.333333,01:00:25,01:07:40,7.250000,-71.119396,42.373092,-71.113837,42.377690,685.902428
3,3,2628,03:39:00,300,50000.0,8.0,0,package3,True,3.333333,03:32:25,03:39:00,6.583333,-71.109872,42.369111,-71.116313,42.372419,645.333257
4,4,3346,04:38:50,300,50000.0,8.0,0,package4,True,1.750000,04:29:50,04:38:50,9.000000,-71.120337,42.389247,-71.123093,42.382257,808.940478

In [26]:
bike_df.head()

,Unnamed: 0,Cycle,Time,NumBikes,Battery,PickUpSpeed,PackageDelay,Agent,Event,Activity,Message,Start Time,End Time,Duration (min),Distance Traveled,Start Battery %,End Battery %,Battery Gain %
0,0,0,00:00:00,300,50000.0,8.0,2,autonomousBike0,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,00:00:00,300,50000.0,8.0,2,autonomousBike1,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,00:00:00,300,50000.0,8.0,2,autonomousBike2,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0,00:00:00,300,50000.0,8.0,2,autonomousBike3,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,00:00:00,300,50000.0,8.0,2,autonomousBike4,START: wandering,0,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Fleet sizes - package
n_bikes_possible=package_df['NumBikes'].unique()
l_n_bikes=len(n_bikes_possible)
n_bikes_possible.sort()
print(n_bikes_possible)

# Fleet sizes - people
n_bikes_possible=user_df['NumBikes'].unique()
l_n_bikes=len(n_bikes_possible)
n_bikes_possible.sort()
print(n_bikes_possible)

[300]
[300]

In [28]:
#Pick Up Speeds - package
n_pickupspeed_possible=package_df['PickUpSpeed'].unique()
l_n_pickupspeed_possible = len(n_pickupspeed_possible)
n_pickupspeed_possible.sort()
print(n_pickupspeed_possible)

#Pick Up Speeds - people
n_pickupspeed_possible=user_df['PickUpSpeed'].unique()
l_n_pickupspeed_possible = len(n_pickupspeed_possible)
n_pickupspeed_possible.sort()
print(n_pickupspeed_possible)

[8.]
[8.]

In [29]:
#Vehicle battery - package
n_batterylife_possible=package_df['Battery'].unique()
l_n_batterylife_possible = len(n_batterylife_possible)
n_batterylife_possible.sort()
print(n_batterylife_possible)

#Vehicle battery - people
n_batterylife_possible=user_df['Battery'].unique()
l_n_batterylife_possible = len(n_batterylife_possible)
n_batterylife_possible.sort()
print(n_batterylife_possible)

[50000.]
[50000.]

In [30]:
#Package pickup delays - package
n_delays_possible=package_df['PackageDelay'].unique()
l_n_delays_possible = len(n_delays_possible)
n_delays_possible.sort()
print(n_delays_possible)

#Package pickup delays - people
n_delays_possible=user_df['PackageDelay'].unique()
l_n_delays_possible = len(n_delays_possible)
n_delays_possible.sort()
print(n_delays_possible)

[0 2 4]
[0 2 4]

In [31]:
#Get dataframes for different delay times
package_delay0=package_df[package_df['PackageDelay']==0]
package_delay2=package_df[package_df['PackageDelay']==2]
package_delay4=package_df[package_df['PackageDelay']==4]
user_delay0=user_df[user_df['PackageDelay']==0]
user_delay2=user_df[user_df['PackageDelay']==2]
user_delay4=user_df[user_df['PackageDelay']==4]
bike_trips_delay0=bike_df[bike_df['PackageDelay']==0]
bike_trips_delay2=bike_df[bike_df['PackageDelay']==2]
bike_trips_delay4=bike_df[bike_df['PackageDelay']==4]

In [32]:
#Demands

# Package demand
p_demand = len(package_delay0)
print('Package demand: ', p_demand)

# User demand
u_demand = len(user_delay0)
print('User demand: ', u_demand)

Package demand:  3986
User demand:  1429

In [34]:
# Average total wait time

#Package wait
p_wait_0 = package_delay0['Wait Time (min)'].sum()/p_demand
p_wait_2 = package_delay2['Wait Time (min)'].sum()/p_demand
p_wait_4 = package_delay4['Wait Time (min)'].sum()/p_demand
print('Package wait times for 0,2,4 min delays: ',p_wait_0,p_wait_2,p_wait_4 )

#People wait
u_wait_0 = user_delay0['Wait Time (min)'].sum()/u_demand
u_wait_2 = user_delay2['Wait Time (min)'].sum()/u_demand
u_wait_4 = user_delay4['Wait Time (min)'].sum()/u_demand
print('User wait times for 0,2,4 min delays: ',u_wait_0,u_wait_2,u_wait_4 )

Package wait times for 0,2,4 min delays:  4.821040307743769 6.808872721190836 8.59372386686737